name: Java CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Go to src/ folder
      run: cd src/
#    - name: Build DatabasePlugin
#      run: cd DatabasePlugin/ && chmod +x gradlew && ./gradlew build && cd ../
#    - name: Build ExperiencePlugin
#      run: cd ExperiencePlugin/ && chmod +x gradlew && ./gradlew build && cd ../
#    - name: Build ModerationPlugin
#      run: cd ModerationPlugin/ && chmod +x gradlew && ./gradlew build && cd ../
#    - name: Build PollPlugin
#      run: cd PollPlugin/ && chmod +x gradlew && ./gradlew build && cd ../
    - name: pwd
      run: pwd
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
